<form method="post" action="/register">
  <lable for="username">Username:</lable>
  <input type="text" name="username" placeholder="unsername"/>
  <lable for="password">Password:</lable>
  <input type="password" name="password" placeholder="password"/>
</form>

<button>Submit</button>